<div class="loading text-center" ng-hide="group.$resolved">
	<h1><i class="glyphicon glyphicon-refresh glyphicon-spin"></i></h1>
</div>
<div class="row" ng-show="group.$resolved">
	<div class="col-sm-12">
		<h3 class="page-header">
			<small class="label label-default">#{{group.public_id}}</small> {{group.name}} 
			<small ng-show="edit_mode">Edit Group</small>
		</h3>
	</div>
</div>
<div class="row" ng-hide="edit_mode || !group.$resolved">
	<div class="col-sm-6 col-md-4">
		<p class="group-description">{{group.description}}</p>
		<dl class="dl-horizontal group-details">
			<dt>Status</dt>
				<dd><span ng-class="statusToLabel(group.status)">{{group.status}}</span></dd>
			<dt>Leader</dt>
				<dd>{{group.leader}}
					<div><a href="tel:{{group.phone}}" class="visible-xs-inline">{{group.phone}}</a>
						<span class="hidden-xs">{{group.phone}}</span></div>
					<div><a href="mailto:{{group.email}}">{{group.email}}</a></div>
				</dd>
			<dt>Meeting Time</dt>
				<dd>{{group.days.join(', ')}} {{group.time}}</dd>
			<dt>Meeting Place</dt>
				<dd>{{group.where}}</dd>
			<dt>Childcare</dt>
				<dd>{{group.childcare}}</dd>
			<dt>Gender Preference</dt>
				<dd>{{group.gender}}</dd>
			<dt>Demographic</dt>
				<dd>{{group.demographic}}</dd>
			<dt>Costs Involved</dt>
				<dd>{{group.cost}}</dd>
			<dt>Max Group Size</dt>
				<dd>{{group.max_members | memberdisplay}}</dd>
		</dl>
		<p>
			<span class="btn btn-default btn-sm pull-right" ng-show="is_admin" ng-click="deleteGroup()"><i class="glyphicon glyphicon-trash"></i></span>
			<span class="btn btn-default btn-sm" ng-click="edit_mode = true"><i class="glyphicon glyphicon-pencil"></i></span>
		</p>

	</div>
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<div class="meetings-header clearfix">
				<button class="btn btn-sm btn-primary pull-right" ng-click="add_meeting = true" ng-hide="add_meeting" title="Add a meeting"><i class="fa fa-plus-square"></i> Add</button> 
				<h4><i class="fa fa-calendar"></i> Meetings</h4>
			</div>
			<ul class="group-meetings list-group" ng-show="add_meeting">
				<li class="list-group-item clearfix" id="meeting-new">
					<a class="group-meeting-delete pull-right" ng-click="add_meeting = false"><i class="fa fa-times-circle"></i></a>
					<div class="meeting-new-row">
						<label for="meeting-date">We met on</label> <input type="date" name="meeting-date" id="meeting-date" value="{{ date | date : 'M/d/yy'}}" placeholder="mm/dd/yy"> 
					</div>
					<div class="meeting-new-row">
						<input type="date" name="meeting-attend" id="meeting-attend" value="{{group.members.length}}" placeholder="count"> 
						<label for="meeting-size">of</label> 
						<input type="date" name="meeting-size" id="meeting-size" value="{{group.members.length}}" placeholder="num members">
						<label for="meeting-attend">attended</label>
					</div>
					<div class="meeting-new-row">
						<button class="btn btn-sm btn-primary pull-right" ng-click="createMeeting()" title="Add this meeting"><i class="fa fa-check"></i> Save</button>
					</div>
				</li>
			</ul>
			<ul class="group-meetings list-group">
				<li class="list-group-item" ng-if="!group.meetings.length"><em class="text-muted">No meetings recorded</em></li>
				<li class="list-group-item" ng-repeat="meeting in group.meetings" id="meeting-{{meeting.id}}">
					<a class="group-meeting-delete pull-right" ng-click="removeMeeting(meeting.id)"><i class="fa fa-times-circle"></i></a>
					<strong>{{meeting.date}}</strong> &nbsp; {{meeting.attendance}} of {{meeting.group_size}} attended
				</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-12 col-md-4" ng-hide="member_mode">
		<div class="well">
			<div class="members-header clearfix">
				<button class="btn btn-sm btn-primary pull-right" ng-click="member_mode = true" title="Quick-add a member"><i class="fa fa-user-plus"></i> Add</button> 
				<button class="btn btn-sm btn-default pull-right" ng-click="copyEmails()" style="margin-right:5px;" title="Copy group email addresses to clipboard">Copy <i class="fa fa-envelope-o"></i></button> 
				<h4><i class="fa fa-group"></i> Members</h4>
			</div>
			<ul class="group-members list-group">
				<li class="list-group-item" ng-if="!group.members.length"><em class="text-muted">No members</em></li>
				<li class="list-group-item" ng-repeat="member in group.members" id="member-{{member.id}}">
					<a class="group-member-delete pull-right" ng-click="removeMember(member.id)"><i class="fa fa-times-circle"></i></a>
					<a href="#/members/{{member.id}}">{{member.name}}</a> &nbsp; 
					<small class="text-muted" ng-show="member.contact_pref!='EMAIL'">{{member.phone}}</small> 
					<small class="text-muted" ng-show="member.contact_pref!='PHONE'">{{member.email}}</small>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-12 col-sm-4" ng-show="member_mode">
		<div class="well">

			<h4>Add New Member</h4>

			<div class="form-group">
				<label for="member-name">Member Name</label>
				<input type="text" id="member-name" class="form-control">
				<p class="help-block">First and last name, if possible.</p>
			</div>

			<div class="form-group">
				<label for="member-email">Email</label>
				<input type="text" id="member-email" class="form-control">
				<p class="help-block">Optional, but recommended.</p>
			</div>

			<div class="form-group">
				<label for="member-phone">Phone</label>
				<input type="text" id="member-phone" class="form-control">
				<p class="help-block">Optional, but recommended.</p>
			</div>

			<div class="form-group">
				<button ng-click="createMember()" class="btn btn-primary">Add Now</button>
				<button ng-click="member_mode = false" class="btn btn-default">Cancel</button>
			</div>	

		</div>
	</div>
</div>
<div ng-show="edit_mode">

	<div class="row">
		<div class="col-sm-4">

			<div class="form-group">
				<label for="public_id">Group ID</label>
				<input type="text" id="public_id" class="form-control" ng-model="group.public_id">
			</div>

			<div class="form-group">
				<label for="name">Group Name</label>
				<input type="text" id="name" class="form-control" ng-model="group.name">
			</div>

			<div class="form-group">
				<label for="leader">Group Leader</label>
				<input type="text" id="leader" class="form-control" ng-model="group.leader">
			</div>

			<div class="form-group">
				<label for="phone">Leader Phone</label>
				<input type="text" id="phone" class="form-control" ng-model="group.phone">
			</div>

			<div class="form-group">
				<label for="email">Leader Email</label>
				<input type="text" id="email" class="form-control" ng-model="group.email">
			</div>

			<div class="form-group">
				<label for="description">Description</label>
				<textarea id="description" class="form-control" ng-model="group.description" rows="5"></textarea>
			</div>

		</div>
		<div class="col-sm-4">

			<div class="form-group">
				<label for="where">Meeting Place</label>
				<input type="text" id="where" class="form-control" ng-model="group.where">
			</div>

			<div class="form-group">
				<label for="when">Meeting Time</label>
				<input type="text" id="when" class="form-control" ng-model="group.time">
			</div>

			<div class="form-group">
				<label for="days">Meeting Days</label>
				<div>
					<div ng-repeat="day in avail_days" class="checkbox">
						<label>
							<input type="checkbox" name="days[]" value="{{day}}" ng-checked="group.days.indexOf(day) > -1" ng-click="dayToggle(day)"> {{day}}
						</label>
					</div>
				</div>
			</div>

		</div>
		<div class="col-sm-4">

			<div class="form-group">
				<label for="maxsize">Group Status</label>  
				<div>
					<select id="status" name="status" class="form-control" ng-model="group.status">
						<option ng-repeat="i in avail_status" value="{{i.value}}">{{i.name}}</option>
					</select> 
				</div>
			</div>

			<div class="form-group">
				<label for="maxsize">Max Group Size</label>  
				<div>
					<select id="maxsize" name="maxsize" class="form-control" ng-model="group.max_members">
						<option ng-repeat="i in avail_maxsize" value="{{i.value}}">{{i.name}}</option>
					</select> 
				</div>
			</div>

			<div class="form-group">
				<label for="cost">Cost Involved?</label>
				<div>
					<label class="radio-inline" for="cost-0">
						<input type="radio" name="cost" id="cost-0" value="No" ng-model="group.cost"> No
					</label>
					<label class="radio-inline" for="cost-1">
						<input type="radio" name="cost" id="cost-1" value="Yes" ng-model="group.cost"> Yes (e.g., books)
					</label>
				</div>
			</div>

			<div class="form-group">
				<label for="childcare">Childcare Provided?</label>
				<div> 
					<label class="radio-inline" for="childcare-0">
						<input type="radio" name="childcare" id="childcare-0" value="Not available" ng-model="group.childcare"> No
					</label> 
					<label class="radio-inline" for="childcare-1">
						<input type="radio" name="childcare" id="childcare-1" value="Provided" ng-model="group.childcare"> Yes
					</label>
				</div>
			</div>

			<div class="form-group">
				<label for="gender">Gender Preference?</label>
				<div> 
					<label class="radio-inline" for="gender-0">
						<input type="radio" name="gender" id="gender-0" value="None" ng-model="group.gender"> None
					</label> 
					<label class="radio-inline" for="gender-1">
						<input type="radio" name="gender" id="gender-1" value="Male" ng-model="group.gender"> Male
					</label>
					<label class="radio-inline" for="gender-2">
						<input type="radio" name="gender" id="gender-2" value="Female" ng-model="group.gender"> Female
					</label>
				</div>
			</div>

			<div class="form-group">
				<label for="demographic">Demographic Focus?</label>
				<div> 
					<label class="radio-inline" for="demographic-0">
						<input type="radio" name="demographic" id="demographic-0" value="None" ng-model="group.demographic"> None
					</label> 
					<label class="radio-inline" for="demographic-1">
						<input type="radio" name="demographic" id="demographic-1" value="Married" ng-model="group.demographic"> Married
					</label>
					<label class="radio-inline" for="demographic-2">
						<input type="radio" name="demographic" id="demographic-2" value="Parenting" ng-model="group.demographic"> Parenting
					</label>
					<label class="radio-inline" for="demographic-3">
						<input type="radio" name="demographic" id="demographic-3" value="Single" ng-model="group.demographic"> Single
					</label>
					<label class="radio-inline" for="demographic-4">
						<input type="radio" name="demographic" id="demographic-4" value="Young Adult" ng-model="group.demographic"> Young Adult
					</label>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<button ng-click="updateGroup()" class="btn btn-primary">Save Changes</button>
				<button ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
			</div>
		</div>
	</div>
</div>