<div class="loading text-center" ng-hide="groups.$resolved">
	<h1><i class="glyphicon glyphicon-refresh glyphicon-spin"></i></h1>
</div>
<table class="table" ng-show="groups.$resolved">
	<thead>
		<tr>
			<th class="hidden-xs">#</th>
			<th>Group Name</th>
			<th class="hidden-xs">Status</th>
			<th>Leader</th>
			<th class="hidden-xs">Meets</th>
			<th class="hidden-xs">Childcare</th>
			<th class="hidden-xs">Demographic</th>
			<th class="hidden-xs">Member Count</th>
		</tr>
	</thead>
	<tbody class="rowclickable">
		<tr ng-repeat="group in groups" ng-click="viewGroup(group);">
			<td class="hidden-xs">{{group.public_id}}</td>
			<td>{{group.name}}</td>
			<td class="hidden-xs"><span ng-class="statusToLabel(group.status)">{{group.status}}</span></td>
			<td>{{group.leader}}</td>
			<td class="hidden-xs">{{group.meets}}</td>
			<td class="hidden-xs">{{group.childcare}} <span class="badge" ng-show="group.child_count">{{group.child_count}}</span></td>
			<td class="hidden-xs">{{group.gender}} {{group.demographic}}</td>
			<td class="hidden-xs">{{group.count}} <span class="text-super-muted pull-right" ng-show="group.max_members">{{group.max_members}} max</span></td>
		</tr>
	</tbody>
</table>
