<div class="loading text-center" ng-hide="users.$resolved">
	<h1><i class="glyphicon glyphicon-refresh glyphicon-spin"></i></h1>
</div>
<table class="table" ng-show="users.$resolved">
	<thead>
		<tr>
			<th>User Name</th>
			<th class="hidden-xs">Role</th>
			<th>Email</th>
			<th class="hidden-xs">Service</th>
		</tr>
	</thead>
	<tbody class="rowclickable">
		<tr ng-repeat="user in users" ng-click="viewUser(user);">
			<td>{{user.name}}</td>
			<td class="hidden-xs">{{user.role}}</td>
			<td>{{user.email}}</td>
			<td class="hidden-xs">{{user.service}}</td>
		</tr>
	</tbody>
</table>
